In [1]:
# Import necessary libraries
import pandas as pd
import requests

In [2]:
# Download FIPS codes from a reliable source
#fips_url = 'https://raw.githubusercontent.com/kjhealy/fips-codes/master/state_and_county_fips_master.csv'
fips_path = '/Users/samyakshrestha/Desktop/ER CASE/Life Expectancy/Data/Modified_fips_by_state_v4.csv'
#fips_df = pd.read_csv(fips_url, dtype={'fips': str})
fips_df = pd.read_csv(fips_path, dtype={'fips': str})

In [3]:
# Ensure the 'fips' column is correctly formatted to 5 digits
fips_df['fips'] = fips_df['fips'].str.zfill(5)

In [4]:
# Preview the FIPS dataframe
print("FIPS DataFrame Preview:")
print(fips_df.head())

FIPS DataFrame Preview:
    fips            name state
0  01001  Autauga County    AL
1  01003  Baldwin County    AL
2  01005  Barbour County    AL
3  01007     Bibb County    AL
4  01009   Blount County    AL

In [5]:
# Load your 2019 life expectancy dataset
life_expectancy_path = '/Users/samyakshrestha/Desktop/ER CASE/Life Expectancy/Data/Single_year_Dataframe.csv'  # Update this path
life_df = pd.read_csv(life_expectancy_path)

In [6]:
# Preview the life expectancy dataframe
print("\nLife Expectancy DataFrame Preview:")
print(life_df.head())

Life Expectancy DataFrame Preview:
   Unnamed: 0             location_name  year  MeanLifeExpectency
0         228  Autauga County (Alabama)  2019           76.593265
1         234  Baldwin County (Alabama)  2019           78.293522
2         240  Barbour County (Alabama)  2019           74.814532
3         246     Bibb County (Alabama)  2019           73.920054
4         252   Blount County (Alabama)  2019           75.029186

In [7]:
# Clean and separate 'location_name' into 'County' and 'State' columns
life_df[['County', 'State']] = life_df['location_name'].str.extract(r'^(.*) \((.*)\)$')

In [8]:
# Standardize state names to match FIPS data
life_df['State'] = life_df['State'].str.strip()

In [9]:
# Preview cleaned life expectancy dataframe
print("\nCleaned Life Expectancy DataFrame Preview:")
print(life_df.head())

Cleaned Life Expectancy DataFrame Preview:
   Unnamed: 0             location_name  year  MeanLifeExpectency  \
0         228  Autauga County (Alabama)  2019           76.593265
1         234  Baldwin County (Alabama)  2019           78.293522
2         240  Barbour County (Alabama)  2019           74.814532
3         246     Bibb County (Alabama)  2019           73.920054
4         252   Blount County (Alabama)  2019           75.029186

           County    State
0  Autauga County  Alabama
1  Baldwin County  Alabama
2  Barbour County  Alabama
3     Bibb County  Alabama
4   Blount County  Alabama

In [10]:
# Inspect the FIPS dataframe's column names to find the correct ones
print(fips_df.columns)

Index(['fips', 'name', 'state'], dtype='object')

In [11]:
# Ensure the county names in life_df match the format in fips_df
life_df['County'] = life_df['County'].str.strip()

In [12]:
# Separate 'fips' into 'State_FIPS' and 'County_FIPS'
fips_df['State_FIPS'] = fips_df['fips'].str[:2]  # First two characters for state FIPS
fips_df['County_FIPS'] = fips_df['fips'].str[2:]  # Remaining three characters for county FIPS

In [13]:
fips_df

       fips               name state State_FIPS County_FIPS
0     01001     Autauga County    AL         01         001
1     01003     Baldwin County    AL         01         003
2     01005     Barbour County    AL         01         005
3     01007        Bibb County    AL         01         007
4     01009      Blount County    AL         01         009
...     ...                ...   ...        ...         ...
3138  56037  Sweetwater County    WY         56         037
3139  56039       Teton County    WY         56         039
3140  56041       Uinta County    WY         56         041
3141  56043    Washakie County    WY         56         043
3142  56045      Weston County    WY         56         045

[3143 rows x 5 columns]

In [14]:
state_abbr_to_full = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas',
    'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware',
    'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho',
    'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas',
    'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi',
    'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada',
    'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York',
    'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma',
    'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah',
    'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia',
    'WI': 'Wisconsin', 'WY': 'Wyoming'
}

In [15]:
# Correctly map the state abbreviations using the 'state' column
fips_df['state_full'] = fips_df['state'].map(state_abbr_to_full)

In [16]:
# Check the mapping
print(fips_df[['state', 'state_full']].head())
fips_df

  state state_full
0    AL    Alabama
1    AL    Alabama
2    AL    Alabama
3    AL    Alabama
4    AL    Alabama

       fips               name state State_FIPS County_FIPS state_full
0     01001     Autauga County    AL         01         001    Alabama
1     01003     Baldwin County    AL         01         003    Alabama
2     01005     Barbour County    AL         01         005    Alabama
3     01007        Bibb County    AL         01         007    Alabama
4     01009      Blount County    AL         01         009    Alabama
...     ...                ...   ...        ...         ...        ...
3138  56037  Sweetwater County    WY         56         037    Wyoming
3139  56039       Teton County    WY         56         039    Wyoming
3140  56041       Uinta County    WY         56         041    Wyoming
3141  56043    Washakie County    WY         56         043    Wyoming
3142  56045      Weston County    WY         56         045    Wyoming

[3143 rows x 6 columns]

In [17]:
# Merge using the updated 'state_full' and 'name' columns
merged_df = pd.merge(
    life_df,
    fips_df[['State_FIPS', 'County_FIPS', 'name', 'state_full']],
    left_on=['State', 'County'],  # Corresponding to State and County in life_df
    right_on=['state_full', 'name'],  # Match with the updated state_full and name in fips_df
    how='left'
)

In [18]:
# Drop redundant columns if they are no longer needed
merged_df = merged_df.drop(columns=['name', 'state_full'])

In [19]:
# Preview the cleaned DataFrame
print(merged_df.head())

   Unnamed: 0             location_name  year  MeanLifeExpectency  \
0         228  Autauga County (Alabama)  2019           76.593265
1         234  Baldwin County (Alabama)  2019           78.293522
2         240  Barbour County (Alabama)  2019           74.814532
3         246     Bibb County (Alabama)  2019           73.920054
4         252   Blount County (Alabama)  2019           75.029186

           County    State State_FIPS County_FIPS
0  Autauga County  Alabama         01         001
1  Baldwin County  Alabama         01         003
2  Barbour County  Alabama         01         005
3     Bibb County  Alabama         01         007
4   Blount County  Alabama         01         009

In [20]:
# Fetch Median Income Data from ACS API
api_key = '2a58865a16f7670d452bcfcb4a5b767db1ce8973'
acs_endpoint = 'https://api.census.gov/data/2019/acs/acs5'

In [21]:
params = {
    'get': 'B19013_001',  # Median household income in the past 12 months
    'for': 'county:*',      # Get data for all counties
    'in': 'state:*',        # In all states
    'key': api_key
}

In [22]:
response = requests.get(acs_endpoint, params=params)

if response.status_code == 200:
    print("\nSuccessfully fetched median income data from ACS API.")
    income_data = response.json()
else:
    print(f"\nFailed to fetch data. Status code: {response.status_code}")
    exit()

Failed to fetch data. Status code: 400

In [23]:
# Convert the API Response to a DataFrame
income_df = pd.DataFrame(columns=income_data[0], data=income_data[1:])

# Rename columns for clarity
income_df = income_df.rename(columns={
    'B19013_001': 'Median_Income',
    'state': 'State_FIPS',
    'county': 'County_FIPS'
})

NameError: name 'income_data' is not defined

In [ ]:
# Ensure FIPS codes have leading zeros where necessary
income_df['State_FIPS'] = income_df['State_FIPS'].str.zfill(2)
income_df['County_FIPS'] = income_df['County_FIPS'].str.zfill(3)

In [ ]:
# Convert Median_Income to numeric, handling missing values
income_df['Median_Income'] = pd.to_numeric(income_df['Median_Income'], errors='coerce')

In [ ]:
# Step 4: Align FIPS Codes Before Merging
# Ensure both DataFrames have FIPS codes formatted correctly
merged_df['State_FIPS'] = merged_df['State_FIPS'].astype(str).str.zfill(2)
merged_df['County_FIPS'] = merged_df['County_FIPS'].astype(str).str.zfill(3)

In [ ]:
# Step 5: Merge the DataFrames on State_FIPS and County_FIPS
final_df = pd.merge(
    merged_df,
    income_df[['State_FIPS', 'County_FIPS', 'Median_Income']],
    on=['State_FIPS', 'County_FIPS'],
    how='left'
)

In [ ]:
# Step 6: Diagnose Any Missing Median Income Data
missing_income = final_df[final_df['Median_Income'].isnull()]

if not missing_income.empty:
    print("\nMissing Median Income for the following FIPS codes:")
    print(missing_income[['State', 'County', 'State_FIPS', 'County_FIPS']].drop_duplicates())
else:
    print("\nAll records have corresponding Median Income data.")

In [ ]:
# Step 7: Save the Final DataFrame to a CSV File
output_path = '/Users/samyakshrestha/Desktop/ER CASE/Life Expectancy/Data/final_dataset_with_income.csv'  # Update this path
final_df.to_csv(output_path, index=False)
print(f"\nFinal dataset with median income saved to: {output_path}")

In [ ]:
# Convert Median_Income to numeric, handling missing values
income_df['Median_Income'] = pd.to_numeric(income_df['Median_Income'], errors='coerce')
# Set option to display all rows
pd.set_option('display.max_rows', None)
print(income_df)

In [ ]:
# Step 4: Align FIPS Codes Before Merging
# Ensure both DataFrames have FIPS codes formatted correctly
merged_df['State_FIPS'] = merged_df['State_FIPS'].astype(str).str.zfill(2)
merged_df['County_FIPS'] = merged_df['County_FIPS'].astype(str).str.zfill(3)

In [ ]:
# Step 5: Merge the DataFrames on State_FIPS and County_FIPS
final_df = pd.merge(
    merged_df,
    income_df[['State_FIPS', 'County_FIPS', 'Median_Income']],
    on=['State_FIPS', 'County_FIPS'],
    how='left'
)

In [ ]:
final_df

In [ ]:
# Step 6: Diagnose Any Missing Median Income Data
missing_income = final_df[final_df['Median_Income'].isnull()]

In [ ]:
missing_income

In [ ]:
if not missing_income.empty:
    print("\nMissing Median Income for the following FIPS codes:")
    print(missing_income[['State', 'County', 'State_FIPS', 'County_FIPS']].drop_duplicates())
else:
    print("\nAll records have corresponding Median Income data.")

In [ ]:
# Step 7: Save the Final DataFrame to a CSV File
output_path = '/Users/samyakshrestha/Desktop/ER CASE/Life Expectancy/Data/final_dataset_with_income.csv'  # Update this path
final_df.to_csv(output_path, index=False)
print(f"\nFinal dataset with median income saved to: {output_path}")